<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CBD晚餐</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>
<div data-role="page" id="page1">
<div data-role="header" data-position="inline" data-backbtn="false">
	<h1>CBD晚餐 筛选条件</h1>
	<a href="http://192.168.201.75/" data-icon="check" class="ui-btn-right">完成</a>
</div>
<div data-role="content">
				<label for="gender"> 性别:</label>
				<select name="gender" id="gender">
						<option value="全部" >全部</option>
						<option value="男" >男</option>
						<option value="女" >女</option>
				</select>

				<label for="education"> 学历:</label>
				<select name="education" id="education">
						<option value="本科" >本科</option>
						<option value="硕士" >硕士</option>
						<option value="博士" >博士</option>
						<option value="海龟" >海龟</option>
				</select>

				<label for="salary"> 薪水:</label>
				<select name="salary" id="salary">
						<option value="全部" >全部</option>
						<option value="0-8000" >0-8000</option>
						<option value="8000-15000" >8000-15000</option>
						<option value="15000-25000" >15000-25000</option>
						<option value="25000以上" >25000以上</option>
				</select>
</div>
<!--
<!--persistentBar-->
<div data-role="footer" data-position="fixed">		
   <div data-role="navbar">
		<ul>
			<li><a href="http://192.168.201.75/">首页</a></li>
			<li><a href="http://192.168.201.75/profile">个人信息</a></li>
			<li><a href="http://192.168.201.75/about">关于</a></li>
			<!-- <li><a href="#persistentBar" class="ui-btn-active ui-state-persist">PersistentBar</a></li>-->		        
		</ul>
	</div><!-- /navbar -->
</div>
-->
</body>
</html>