<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>textinput demo</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<script type="text/javascript">
$(function(){

	$("#btnLogin").click(function(){
		if ($("#username").val() == '' || $("#passwd").val()== '')
		{
			alert("用户名和密码均不能为空！");
			return ;
		}

		$.post('/login',{ 
			//参数一
			username: $('#username').val(), 
			//参数二
			passwd: $("#passwd").val() 
		},
		//回调函数 
		function(theback) 
		{
			alert("hha");
			console.debug(theback);
			if (theback.msg == 'ok')
			{
				window.location.href="/profile";
			}
			else
			{
				alert(theback.msg);
			}
		},
		//返回类型
		"json"
		);
	
	});
})
</script>
</head>
<body>
<div data-role="page" id="login">
<div data-role="header">
<div data-role="header" data-position="inline" data-backbtn="false">
<h1>CBD晚餐	登陆页面</h1>
<a href="http://192.168.201.75/register" data-icon="forward" class="ui-btn-right">注册</a>
</div>
</div>
<form action="http://192.168.201.75/login" method="post">
<div data-role="content">
<label for="username">用户名:</label>
<input type="text" name="username" id="username" value="" />
<label for="passwd">密码:</label>
<input type="password" name="passwd" id="passwd" value="" />
<input type="button" id="btnLogin"  value="登陆" />
</div>
</form>
%include footer.html
</body>
</html>
