<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>textinput demo</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

</head>
<body>
<div data-role="page" id="page1">
<div data-role="header" data-position="inline" data-backbtn="true">
<a href="#home" data-icon="back" data-rel="back">返回</a>
<h1>我的晚餐</h1>
</div>
<div data-role="content">	

		<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c"> 
			<li data-role="list-divider">2013年12月6日 星期一 晚上7点</li>
			<li><a href="">
				<img src="">
				<h2>Broken Bells</h2>
				<p>Broken Bells</p>
				</a>
			</li>
			<li data-role="list-divider">联系方式</li>
			<li>手机:13426444511</li>
			<li>微信:mlzboy</li>	
			<li>qq:1036130199</li>	
			<li data-role="list-divider">就餐信息</li>
			<li>
					<h4>餐厅：娘惹厨房</h4>
					<h4>地点：国贸一期 餐厅电话 010-xxxxx</h4>
					<h4>时间：2013年12月6日 晚上7点</h4>
					<h4>备注：AA套餐</h4>
			</li>

			<li data-role="list-divider" data-divider-theme="d">说明</li>
			<li>支付的保证金用于承诺前往就餐，若违约未前往将支付给对方</li>
			<li>双方放弃或前往就餐则系统收取该费用</li>
			<li>用餐请注意基本的礼仪</li>
			<li>如遇特殊情况未能前往,请务必提前告知对方</li>
			<li>请给出行交通状况做一点时间上的提前量</li>
		</ul>


	
</div>
						<!-- <li><a href="#persistentBar" class="ui-btn-active ui-state-persist">PersistentBar</a></li>-->
<!--
<div data-role="footer" data-position="fixed">
   <div data-role="navbar">
				<ul>
						<li><a href="#home">首页</a></li>
						<li><a href="" id="profile">个人信息</a></li>
						<li><a href="#about">关于</a></li>
				</ul>
		</div>
</div>
-->
</body>
</html>