<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>textinput demo</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>
	<div data-role="page" id="page1">
	<div data-role="header">
		<h1>我的消息</h1>
	</div>
	<div data-role="content">	
	
		<ul data-role="listview" data-inset="true" data-theme="d"> 
			<li data-role="list-divider">开放晚餐 <span class="ui-li-count">2</span></li>
			<li>
				<p>餐厅：娘惹厨房</p>
				<p>地点：国贸一期 餐厅电话 010-xxxxx</strong></p>
				<p>时间：2013年12月6日 晚上7点</strong></p>
				<p>状态：mlzboy已支付25元前往就餐保证金</p>
				<p>备注：AA套餐</p>
			</li>
			
			<li>
				<img src="images/album-bb.jpg"/>
				<h3>随风所欲</h3>
				<p>账号：<label name="account">suifengsuoyu</label></p>
				<p class="ui-li-aside">
				<a href="index.html" data-role="button" data-inline="true" data-theme="b" data-mini="true">agree</a>
				</p>
			</li>
			
			<li>
				<img src="images/album-bb.jpg"/>
				<h3>随风所欲</h3>
				<p>账号：<label name="account">suifengsuoyu</label></p>
				<p class="ui-li-aside">
				<a href="index.html" data-role="button" data-inline="true" data-theme="b" data-mini="true">agree</a>
				</p>
			</li>
		</ul>
		
		<ul data-role="listview" data-inset="true" data-theme="d">
			<li><a href="personal3.html">suifengsuoyu	同意了您的晚餐邀请</a></li>
		</ul>
		
		<ul data-role="listview" data-inset="true" data-theme="d">
			<li><a href="personal3.html">逍遥王	拒绝了您的晚餐邀请</a> </li>
		</ul>
		
	</div>
</body>
</html>