<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>textinput demo</title>
<link rel="stylesheet" href="/static/jquery/jquery.mobile-1.3.2.min.css">
<script src="/static/jquery/jquery-1.9.1.min.js"></script>
<script src="/static/jquery/jquery.mobile-1.3.2.min.js"></script>
<script type="text/javascript">
$(function()
{
	$("#pay_apply_pay").click(function(){
		alert("aa");

		$("#pay_form").submit();
	});
});
</script>
</head>
<body>
<div data-role="page" id="page1">
<div data-role="header" data-position="inline" data-backbtn="true">
<a href="#home" data-icon="back" data-rel="back">返回</a>
<h1>申请一起晚餐</h1>
</div>
<div data-role="content">	
		<form action="/pay/{{dinner["id"]}}" method="post" data-ajax="false" name="pay" id="pay_form">
		<ul data-role="listview" data-inset="true" data-theme="c"> 
			<li data-role="list-divider">开放晚餐</li>
			<li>申请与{{dinner_creator["nickname"]}}共进晚餐</li>
			<li>
				<img src="{{dinner_creator["photo1"]}}">
				<h2>{{dinner_creator["nickname"]}}</h2>
				<p>help me help you</p>
			</li>
			<li>
					<input type="hidden" name="rest_id" id="rest_id" value="{{rest["id"]}}" />
					<h4>餐厅名称：{{rest["name"]}}</h4>
					<h4>餐厅电话: {{rest["phone"]}}</h4>
					<h4>餐厅地点：{{rest["place"]}} </h4>
					<h4>时间：{{dinner["eat_on"]}}</h4>
					<h4>状态：{{dinner_creator["nickname"]}}已支付25元前往就餐保证金</h4>
					<h4>备注：{{dinner["desc"]}}</h4>
			</li>
			<li><h4>支付就餐保证金：25RMB</h4></li>
		</ul>
		<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c"> 
			<li data-role="list-divider" data-divider-theme="d">交易说明</li>
			<li>请丰富个人资料以增大对方愿意与您一同就餐的机率</li>
			<li>申请与对方晚餐，对方将可以查看您所填写的所有信息</li>
			<li>若对方同意您的申请,您将能看到对方所有资料及联系方式</li>
			<li>支付的保证金用于承诺前往就餐，若一方未履约前往将该笔保证金支付给另一方</li>
			<li>若双方均放弃或前往就餐,系统收取该笔保证金</li>
			<li>若对方未同意与您一起晚餐，保证金将自动退回用户账户</li>
			<li>支付申请提交后,保证金的支配权转向系统手中,中途无法进行退款</li>
		</ul>
		<a href="#" data-role="button" id="pay_apply_pay" data-theme="e">申请支付</a>
		</form>
	
</div>
<!--
<div data-role="footer" data-position="fixed">
   <div data-role="navbar">
				<ul>
						<li><a href="#home">首页</a></li>
						<li><a href="" id="profile">个人信息</a></li>
						<li><a href="#about">关于</a></li>
				</ul>
		</div>
</div>
-->
</body>
</html>
